body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: sans-serif;
}

#falling-elements-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.falling-element {
    position: absolute;
    top: -50px; /* Empieza justo por encima de la vista */
    font-size: 2rem;
    animation: fall linear forwards;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(100vh - 50px)); /* Cae hasta el fondo */
    }
}
